/*
FF7338
FF966A
FFB292
26AE77
*/

.wrapper {}
.header {
    width: auto;
    height: 60px;
    background: #FFF;
    position: fixed;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
    z-index: 10000;
}

.header .header-con {
    width: 1200px;
    min-height: 1px;
    margin: 0 auto;
    height: 60px;
    line-height: 60px;
}

.header .header-con .logo {
    height: 50px;
    margin: 5px auto;
}

.container {
    margin-top: 60px;
    overflow: hidden;
}

.warp {
    height: 440px;
    background: url('http://static.67one.com/imgs/warp_bg.png') no-repeat center #FFB292;
}

.plugin-info {
    width: 400px;
    padding-top: 180px;
    margin:0 auto;
    line-height: 24px;
}

.plugin-list {
    width: 400px;
    margin: 0 auto 10px;
    padding: 300px 0 0;
}

.plugin-list:after{
    clear: both;
    overflow: hidden;
    content: "";
    display: table;
}

.plugin-btn {
    width: 368px;
    height: 68px;
    line-height: 68px;
    position: relative;
    display: inline-block;
    border-radius: 4px 0 0 4px;
    font-size: 16px;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    background-color: #26AE76;
    background-image: linear-gradient(to bottom, #34c78c,#26AE76);
    border: 1px solid #26AE76;
    float: left;
    text-align: center;
}

.plugin-btn i, .plugin-btn span {
    display: inline-block;
    vertical-align: middle;
}

.plugin-btn i {}
.plugin-btn span {
    font-size: 20px;
}
.dropdown-btn {
    margin-left: -1px;
    padding: 0 10px;
    cursor: pointer;
    text-align: center;
    height: 70px;
    border-radius: 0 4px 4px 0;
    position: relative;
    display: inline-block;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    background-color: #26AE76;
    background-image: linear-gradient(to bottom, #34c78c,#26AE76);
    border: 1px solid #26AE76;
    float: left;
}
.arrow {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    cursor: pointer;
    text-align: center;
}

.plugin-btn:hover, .dropdown-btn:hover, .plugin-btn:active, .dropdown-btn:active {
    color: #fff;
    background-color: #26AE76;
    background-image: linear-gradient(to bottom, #26AE76,#259467);
    border: 1px solid #26AE76;
    z-index: 2;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2)
}

.plugin-btn:active, .dropdown-btn:active {
    background-image: none;
    z-index: 2
}

.plugin-version {
    width: 400px;
    margin: 0 auto;
    text-align: center;
    line-height: 24px;
}

.plugin-version span {
    color: #fff;
}
.banner {
    margin: 10px auto 50px;
}
.swiper-container {
    width: 750px;
    height: 430px;
}
.swiper-container img{
    width: 750px;
    height: 410px;
}
.footer {
    width: auto;
    height: 60px;
    /* background: #FFF;
    position: fixed;
    top: atuo;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10000; */
    text-align: center;
}
